export(bin_choose)
export(bin_probability)
export(bin_distribution)
export(plot.bindis)
export(bin_cumulative)
export(plot.bincum)
export(bin_var)
export(print.binvar)
export(summary.binvar)
export(print.summary.binvar)
export(bin_mean)
export(bin_variance)
export(bin_mode)
export(bin_skewness)
export(bin_kurtosis)
